.app {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  font-family: 'Karla', sans-serif;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
