.app {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  font-family: 'Karla', sans-serif;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url('./images/header-image.jpeg');
  background-position: center;
  background-size: cover;
}

#header-title {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  letter-spacing: 0.6rem;
  margin-left: 1rem;
  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.nav ul li {
  margin: 0 1rem;
  list-style: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
